<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947901140367-fed3mijrjq3g34b5qgbbpb8jhepihegs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947901140367-fed3mijrjq3g34b5qgbbpb8jhepihegs</string>
	<key>API_KEY</key>
	<string>AIzaSyB68Rxct5usi64Is4dHzhsqCAT-bCP718E</string>
	<key>GCM_SENDER_ID</key>
	<string>947901140367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoolHomeWorking</string>
	<key>PROJECT_ID</key>
	<string>homeworks-6924d</string>
	<key>STORAGE_BUCKET</key>
	<string>homeworks-6924d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947901140367:ios:47c9b7faced097a0c38ffa</string>
</dict>
</plist>